		#mostrador{
			margin: auto;
			margin-top: 10px;
			width: 280px;
			height: 80px;
		}
		#foi{

			float: left; 
			margin-right: 10px;
			font-family: Arial, sans-serif;
			font-size: 29px;
			color: black;
  			text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
		}

		.espaco{
			width:120px;
			height: 100px;
			border:3px solid #434;
			float: left;
			text-align: center;
			padding-top: 20px;

		}

		.tabuleiro{
			width: 384px;
			height: 384px;
			margin: auto;
			position: absolute;
        	top: 50%;
        	left: 50%;
        	margin-right: -50%;
        	transform: translate(-50%, -50%)

		}
		.tentei{
    		background: url(imagens/e.jpg);
		}
		#result{
			float: left; 
			margin-right: 10px;
			font-family: Arial, sans-serif;
			font-size: : 65px;
			color: black;
  			text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
  			position: absolute;
        	top: 90%;
        	left: 50%;
        	margin-right: -50%;
        	transform: translate(-50%, -50%)

		}
		.inteface{
			width: 424px;
  			height: 424px;
  			border-width: 1px;
  			border-color: white;
  			border-style: solid;
  			display:block;
  			border-radius: 20px;
  			background-color:white;
  			position: absolute;
        	top: 50%;
        	left: 50%;
        	margin-right: -50%;
        	transform: translate(-50%, -50%)

		}
		#credit{
			font-size: 20px;
  			position: absolute;
        	top: 95%;
        	left: 50%;
        	margin-right: -50%;
        	transform: translate(-50%, -50%)
		}
		button.css {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #ffffff;
			padding: 10px 20px;
			background: -webkit-gradient(
			linear, left top, left bottom,
			from(#fff3db),
			color-stop(0.25, #c2ab67),
			to(#ff3c00));
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
			position: absolute;
	        top: 50%;
	        left: 70%;
	        margin-right: -50%;
	       	transform: translate(-50%, -50%)
}
